.Rproj.user
.Rhistory
.RData
.Ruserdata
.DS_Store
doc
Meta
mod.jags
mod.stan
mod.rds
README.Rmd
README.log
README.tex
README.pdf

# if a pkgdown site has been locally built, don't put it on git; 
# Travis-CI will take care of deployment
docs/
